
body{background-color: #722F37;
	color:#D4AF37;
	font-family:Arial, sans-serif;
	}
	h1{color:#F5F5DC;
	}
	
	.image-container {
    background-color: gold;
    padding: 10px; /* Adjust as needed */
}
